<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <h5 class="card-header">Lista de Fornecedores</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Pesquisar...">
                  <span class="input-group-text" id="basic-addon2">
                      <i class="fa-sharp fa-solid fa-magnifying-glass btn "></i>
                  </span>
              </div>
          </div>
        </div>
        <table *ngIf="providers.length" class="table table-striped table-hover" >
          <thead>
            <tr>
              <td scope="col">ID</td>
              <td scope="col">NOME</td>
              <td scope="col">CNPJ</td>
          </tr>
          </thead>
          <tbody *ngFor="let provider of providers">
            <tr>
              <td>{{provider.id}}</td>
              <td>{{provider.name}}</td>
              <td>{{provider.cnpj}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm"(click)="editProvider(provider)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1"(click)="deleteProvider(provider)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card add-provider">
        <h5 class="card-header">Adcionar/Editar Fornecedor</h5>
        <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveProvider(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="name" class="info-label">Nome Completo</label>
              <input type="text" [(ngModel)]="provider.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite seu nome completo">
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  Nome é obrigatório
              </div>
          </div>
          <div class="form-group">
              <label for="cnpj" class="info-label">CNPJ</label>
              <input type="text" [(ngModel)]="provider.cnpj" id="cnpj" name="cnpj" #cnpj="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cnpj.invalid }" placeholder="Digite seu cnpj">
              <div *ngIf="f.submitted && cnpj.invalid" class="invalid-feedback">
                  CNPJ é obrigatório
              </div>
          </div>
          <button type="submit" class="btn btn-primary btn-add-provider">Salvar</button>
          <button type="reset" class="btn btn-secondary btn-add-provider" (click)="updateForm(f)">Cancelar</button>
          </form>
        </div>
    </div>
  </div>
</div>
</body>
</html>
