<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <h5 class="card-header">Lista de clientes</h5>
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="search" class="form-control" placeholder="Pesquisar..." (keydown)="client_search = search_client($event.key)">
          <span class="input-group-text" id="basic-addon2">
              <i class="fa-sharp fa-solid fa-magnifying-glass btn"></i>
          </span>
        </div>
        <table *ngIf="clients.length" class="table table-striped table-hover" >
          <thead>
            <tr>
              <td scope="col">ID</td>
              <td scope="col">NOME</td>
              <td scope="col">CPF</td>
            </tr>
          </thead>
          <tbody *ngFor="let client of (clients | searchPipe : client_search)">
            <tr>
              <td>{{client.id}}</td>
              <td>{{client.name}}</td>
              <td>{{client.cpf | cpf}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editClient(client)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteClient(client)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <div class="card add-client">
      <h5 class="card-header">Adcionar/Editar Cliente</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && saveClient(f)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="name" class="info-label">Nome Completo</label>
            <input type="text" [(ngModel)]="client.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite seu nome completo">
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                Nome é obrigatório
            </div>
        </div>
        <div class="form-group">
            <label for="cpf" class="info-label">CPF</label>
            <input type="text" [(ngModel)]="client.cpf" id="cpf" name="cpf" #cpf="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cpf.invalid }" placeholder="Digite seu cpf">
            <div *ngIf="f.submitted && cpf.invalid" class="invalid-feedback">
                CPF é obrigatório
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-client">Salvar</button>
        <button type="reset" class="btn btn-secondary btn-add-client" (click)="updateForm(f)">Cancelar</button>
        </form>
      </div>
  </div>
</div>
</body>
</html>
